* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: '微软雅黑';
}

html {
    font-size: 13.3333vw;
}

input {
    outline: none;
}

@media screen and (min-width:750px) {
    html {
        font-size: 100px;
    }
}

/* body {
    max-width: 750px;
    font-size: 14px;
    margin: 0 auto;
} */